In [2]:
# Import pandas dependencies
import pandas as pd
import numpy as np

In [3]:
# Load BYAREA data and create a DataFrame for the data
byarea_df = pd.read_csv('BYAREA.TXT', '|')
byarea_df.head()

C:\Users\mbore\Anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\mbore\Anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (1,2,3,11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,AREA,AGE_ADJUSTED_CI_LOWER,AGE_ADJUSTED_CI_UPPER,AGE_ADJUSTED_RATE,COUNT,EVENT_TYPE,POPULATION,RACE,SEX,SITE,YEAR,CRUDE_CI_LOWER,CRUDE_CI_UPPER,CRUDE_RATE
0,Alabama,359.7,374.7,367.2,9299,Incidence,2293259,All Races,Female,All Cancer Sites Combined,1999,397.3,413.8,405.5
1,Alabama,160.6,170.5,165.5,4366,Mortality,2293259,All Races,Female,All Cancer Sites Combined,1999,184.8,196.1,190.4
2,Alabama,362.1,377.1,369.5,9475,Incidence,2302835,All Races,Female,All Cancer Sites Combined,2000,403.2,419.8,411.4
3,Alabama,160.8,170.6,165.7,4425,Mortality,2302835,All Races,Female,All Cancer Sites Combined,2000,186.5,197.9,192.2
4,Alabama,377.7,392.9,385.2,9971,Incidence,2309496,All Races,Female,All Cancer Sites Combined,2001,423.3,440.3,431.7

In [4]:
# Check shape of DataFrame
byarea_df.shape

(959076, 14)

In [5]:
# Check for data types in DataFrame
byarea_df.dtypes

AREA                     object
AGE_ADJUSTED_CI_LOWER    object
AGE_ADJUSTED_CI_UPPER    object
AGE_ADJUSTED_RATE        object
COUNT                    object
EVENT_TYPE               object
POPULATION                int64
RACE                     object
SEX                      object
SITE                     object
YEAR                     object
CRUDE_CI_LOWER           object
CRUDE_CI_UPPER           object
CRUDE_RATE               object
dtype: object

In [6]:
# Cleaning string columns that need to be numeric
byarea_df = byarea_df.replace('-','', regex=True)
byarea_df = byarea_df.replace('~','', regex=True)
byarea_df['COUNT']= byarea_df['COUNT'].str.replace("+","")

C:\Users\mbore\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [7]:
# Convert string columns to numberic datatype
byarea_object_columns = ['AGE_ADJUSTED_CI_LOWER', 
                         'AGE_ADJUSTED_CI_UPPER', 
                         'AGE_ADJUSTED_RATE',
                         'COUNT',
                         'YEAR',
                         'CRUDE_CI_LOWER', 
                         'CRUDE_CI_UPPER', 
                         'CRUDE_RATE'
                        ]
byarea_df[byarea_object_columns]= byarea_df[byarea_object_columns].apply(pd.to_numeric)

In [8]:
# Recheck for data types in DataFrame
byarea_df.dtypes

AREA                      object
AGE_ADJUSTED_CI_LOWER    float64
AGE_ADJUSTED_CI_UPPER    float64
AGE_ADJUSTED_RATE        float64
COUNT                    float64
EVENT_TYPE                object
POPULATION                 int64
RACE                      object
SEX                       object
SITE                      object
YEAR                       int64
CRUDE_CI_LOWER           float64
CRUDE_CI_UPPER           float64
CRUDE_RATE               float64
dtype: object

In [9]:
# Check for any null values in DataFrame
byarea_df.isnull().sum()

AREA                          0
AGE_ADJUSTED_CI_LOWER      9768
AGE_ADJUSTED_CI_UPPER      9768
AGE_ADJUSTED_RATE          9768
COUNT                    534266
EVENT_TYPE                    0
POPULATION                    0
RACE                          0
SEX                           0
SITE                          0
YEAR                          0
CRUDE_CI_LOWER             9768
CRUDE_CI_UPPER             9768
CRUDE_RATE                 9768
dtype: int64

In [10]:
# Check unique values of categories in DataFrame
print(byarea_df['AREA'].unique())
print(byarea_df['EVENT_TYPE'].unique())
print(byarea_df['RACE'].unique())
print(byarea_df['SEX'].unique())
print(byarea_df['SITE'].unique())

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'United States (comparable to ICDO2)'
 'Utah' 'Vermont' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin'
 'Wyoming']
['Incidence' 'Mortality']
['All Races' 'American Indian/Alaska Native' 'Asian/Pacific Islander'
 'Black' 'Hispanic' 'White']
['Female' 'Male' 'Male and Female']
['All Cancer Sites Combined' 'Brain and Other Nervous System' 'Cervix'
 'Colon and Rectum' 'Corpus and Uterus, NOS' 'Esophagus' 'Female Breast'
 'Female Breast, <i>in situ</i>' 'Hodgkin Lymphoma' 'Kaposi Sarcoma'
 'Kidney and Renal Pelvis' 'Larynx' 'Leukemias'
 'Liver and Intrahepatic Bile Duct' 'Lung and Bronchus'
 'Melanomas of the Skin' 'Mesothelioma' 'Myeloma' 'NonHodgkin Lymphoma'
 'Oral Cavity and Pharynx' 'Ovary' 'Pancreas' 'Stomach' 'Thyroid'
 'Urinary Bladder' 'Prostate' 'Testis']

In [11]:
# Generate our categorical variable list
byarea_df_cat = byarea_df.dtypes[byarea_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
byarea_df[byarea_df_cat].nunique()

AREA          52
EVENT_TYPE     2
RACE           6
SEX            3
SITE          27
dtype: int64

In [12]:
# Drop column COUNT due to 56% null values
byarea_df.drop(columns = ['COUNT'], inplace = True)
byarea_df.shape

(959076, 13)

In [13]:
# Drop the null rows as only 1% of total data
byarea_df = byarea_df.dropna()

In [14]:
# Recheck shape of the DataFrame
byarea_df.shape

(949308, 13)

In [15]:
# Saving cleaned DataFrame to csv
byarea_df.to_csv('cleaned_byarea_df.csv', index = False)