In [1]:
# Import dependencies
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
# Load the data and create a DataFrame for the data
short_filtered_cleaned_byarea_df = pd.read_csv('short_filtered_cleaned_byarea.csv')
short_filtered_cleaned_byarea_df.head()

,AREA,EVENT_TYPE,RACE,SEX,SITE,YEAR,AGE_ADJUSTED_RATE
0,Alabama,Incidence,American Indian/Alaska Native,Female,Brain and Other Nervous System,1999,0.0
1,Alabama,Mortality,American Indian/Alaska Native,Female,Brain and Other Nervous System,1999,0.0
2,Alabama,Incidence,American Indian/Alaska Native,Female,Brain and Other Nervous System,2000,0.0
3,Alabama,Mortality,American Indian/Alaska Native,Female,Brain and Other Nervous System,2000,0.0
4,Alabama,Incidence,American Indian/Alaska Native,Female,Brain and Other Nervous System,2001,0.0

In [3]:
# Check shape of DataFrame
short_filtered_cleaned_byarea_df.shape

(653591, 7)

In [4]:
# Check for info DataFrame
short_filtered_cleaned_byarea_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 653591 entries, 0 to 653590
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   AREA               653591 non-null  object
 1   EVENT_TYPE         653591 non-null  object
 2   RACE               653591 non-null  object
 3   SEX                653591 non-null  object
 4   SITE               653591 non-null  object
 5   YEAR               653591 non-null  int64
 6   AGE_ADJUSTED_RATE  653591 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 34.9+ MB

In [5]:
# Convert YEAR to category
short_filtered_cleaned_byarea_df['YEAR'] = short_filtered_cleaned_byarea_df['YEAR'].astype('object')

In [6]:
# Check Datatypes of DataFrame
short_filtered_cleaned_byarea_df.dtypes

AREA                  object
EVENT_TYPE            object
RACE                  object
SEX                   object
SITE                  object
YEAR                  object
AGE_ADJUSTED_RATE    float64
dtype: object

In [7]:
# Generate our categorical variable list
short_filtered_cleaned_byarea_df_cat = short_filtered_cleaned_byarea_df.dtypes[
    short_filtered_cleaned_byarea_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
short_filtered_cleaned_byarea_df[short_filtered_cleaned_byarea_df_cat].nunique()

AREA          51
EVENT_TYPE     2
RACE           5
SEX            3
SITE          26
YEAR          21
dtype: int64

In [8]:
# Check unique values of categories in DataFrame
print(short_filtered_cleaned_byarea_df['AREA'].unique())
print(short_filtered_cleaned_byarea_df['EVENT_TYPE'].unique())
print(short_filtered_cleaned_byarea_df['RACE'].unique())
print(short_filtered_cleaned_byarea_df['SEX'].unique())
print(short_filtered_cleaned_byarea_df['SITE'].unique())
print(short_filtered_cleaned_byarea_df['YEAR'].unique())

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming']
['Incidence' 'Mortality']
['American Indian/Alaska Native' 'Asian/Pacific Islander' 'Black'
 'Hispanic' 'White']
['Female' 'Male' 'Male and Female']
['Brain and Other Nervous System' 'Cervix' 'Colon and Rectum'
 'Corpus and Uterus, NOS' 'Esophagus' 'Female Breast'
 'Female Breast, <i>in situ</i>' 'Hodgkin Lymphoma' 'Kaposi Sarcoma'
 'Kidney and Renal Pelvis' 'Larynx' 'Leukemias'
 'Liver and Intrahepatic Bile Duct' 'Lung and Bronchus'
 'Melanomas of the Skin' 'Mesothelioma' 'Myeloma' 'NonHodgkin Lymphoma'
 'Oral Cavity and Pharynx' 'Ovary' 'Pancreas' 'Stomach' 'Thyroid'
 'Urinary Bladder' 'Prostate' 'Testis']
[1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018 2019]

In [9]:
# ANOVA Variables vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ AREA + EVENT_TYPE + RACE + SEX + SITE + YEAR', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                  df        sum_sq       mean_sq             F         PR(>F)
AREA            50.0  6.592430e+05  1.318486e+04    481.926115   0.000000e+00
EVENT_TYPE       1.0  1.892231e+06  1.892231e+06  69163.836219   0.000000e+00
RACE             4.0  1.011297e+06  2.528244e+05   9241.104794   0.000000e+00
SEX              2.0  1.394076e+05  6.970381e+04   2547.777328   0.000000e+00
SITE            25.0  1.002275e+07  4.009101e+05  14653.855704   0.000000e+00
YEAR            20.0  1.930339e+04  9.651697e+02     35.278382  1.759682e-136
Residual    653488.0  1.787856e+07  2.735867e+01           NaN            NaN

In [12]:
# ANOVA Features Interactions vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ AREA:EVENT_TYPE + AREA:RACE + AREA:SEX', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                       df        sum_sq       mean_sq           F  PR(>F)
AREA:EVENT_TYPE     101.0  2.621552e+06  25955.965234  631.048868     0.0
AREA:RACE           204.0  1.973529e+06   9674.162616  235.201015     0.0
AREA:SEX            102.0  1.613420e+05   1581.784570   38.456800     0.0
Residual         653183.0  2.686637e+07     41.131466         NaN     NaN

In [13]:
# ANOVA Features Interactions vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ EVENT_TYPE:RACE + EVENT_TYPE:SEX + EVENT_TYPE:SITE + EVENT_TYPE:YEAR', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                       df        sum_sq        mean_sq             F  PR(>F)
EVENT_TYPE:RACE       9.0  2.983125e+06  331458.298217  12804.329023     0.0
EVENT_TYPE:SEX        4.0  1.464125e+05   36603.114904   1413.988816     0.0
EVENT_TYPE:SITE      50.0  1.151934e+07  230386.882560   8899.911279     0.0
EVENT_TYPE:YEAR      40.0  5.754671e+04    1438.667828     55.576150     0.0
Residual         653489.0  1.691649e+07      25.886425           NaN     NaN

In [14]:
# ANOVA Features Interactions vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ RACE:SEX + RACE:SITE + RACE:YEAR', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                 df        sum_sq       mean_sq            F         PR(>F)
RACE:SEX       14.0  1.203170e+06  85940.688184  2847.748204   0.000000e+00
RACE:SITE     125.0  1.066668e+07  85333.408564  2827.625263   0.000000e+00
RACE:YEAR     100.0  3.581795e+04    358.179485    11.868709  4.165162e-185
Residual   653351.0  1.971713e+07     30.178472          NaN            NaN

In [16]:
# ANOVA Features Interactions vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ SEX:SITE + SEX:YEAR', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                df        sum_sq        mean_sq            F        PR(>F)
SEX:SITE      77.0  9.297732e+06  120749.762373  3537.743416  0.000000e+00
SEX:YEAR      60.0  2.133154e+04     355.525590    10.416238  6.133182e-95
Residual  653460.0  2.230381e+07      34.131860          NaN           NaN

In [17]:
# ANOVA Features Interactions vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ SITE:YEAR', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

                 df        sum_sq       mean_sq           F  PR(>F)
SITE:YEAR     545.0  8.619676e+06  15815.918536  449.004541     0.0
Residual   653045.0  2.300312e+07     35.224407         NaN     NaN

In [18]:
# ANOVA Features Interactions vs AGE_ADJUSTED_RATE
model = ols('AGE_ADJUSTED_RATE ~ AREA:SITE', data = short_filtered_cleaned_byarea_df).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

MemoryError: Unable to allocate 6.46 GiB for an array with shape (1326, 653591) and data type float64